<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button (click)="logout()" ion-button>
          <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>

</ion-content>
